body {
  background-image:url(./assets/zaun_splash.jpeg);
  font-family: Georgia;
  padding: 20px;
  color: #F0E68C;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  border-radius: 20px;
  border: 1px solid black;
}

#img-div{
  max-width: 100%;
  width: auto;
  height: auto;
  background-color: #a3d95b44;
  text-align: center;
  padding: 5%;
  border-radius: 24px;
}

#img-caption>p{
  font-size: 1.3em;
}

#tribute-info{
  max-width: 100%;
  width: auto;
  height: auto;
  background-color: #a3d95b44;
  padding: 5%;
  margin-top: 2em;
  border-radius: 24px;
}

#tribute-info>ul>li{
  list-style: none;
  text-align: left;
}

#tribute-info>p, #tribute-info>h2{
  text-align: center;
}

a {
  color: #ffffff;
  text-decoration:none;
}


a:hover {
  color: black;

}

a:active {
  color: black;
}


a:visited {
  color: #ffffff;
}